<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>Bio Form</h1>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.Role.id_for_label }}">Role:</label>
        {{ form.Role }}
        <label for="{{ form.AboutMe.id_for_label }}">About Me:</label>
        {{ form.AboutMe }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>